{{!-- Aca en cambio no necesito iterar sobre el array ya que es el socket.io el que rellena el contenido --}}

<h1>Lista de productos (tiempo real)</h1>
<ul id="product-list"></ul>

<form id="product-form" enctype="multipart/form-data">
  <input type="text" name="title" id="title" placeholder="Titulo">
  <input type="text" name="description" id="description" placeholder="Descripcion">
  <input type="text" name="code" id="code" placeholder="Codigo de producto">
  <input type="number" name="price" id="price" placeholder="Precio">
  <input type="hidden" name="status" value="false">
  <input type="checkbox" name="status" id="status">
  <label for="status">Disponible</label>
  <input type="number" name="stock" id="stock" placeholder="Stock">
  <input type="text" name="category" id="category" placeholder="Categoria">
  <label for="thumbnails">Imagenes:</label>
  <input type="file" name="thumbnails" id="thumbnails" multiple>
  
  <input type="submit" value="ENVIAR">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
