{{!-- Aca en cambio no necesito iterar sobre el array ya que es el socket.io el que rellena el contenido --}}

<h1>Lista de productos (tiempo real)</h1>
<ul id="product-list"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
